<!DOCTYPE html>
<html>
<head>

  <title>STACKOVERFLOW-LITE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="topnav">
      <ul style="list-style: none;">
        <div class="navbar">
          <a href="#"><img src="../static/images/download.png" height="30" width="30"> StackOverFlow-Lite</a> 
          <a href="login.html" style="float:right;"> Login</a>
        </div>
      </ul>
      
      </div>
    <div class="sidebar">
        <a href="#">Home</a>
        <a href="#">PUBLIC</a>
       
      </div>
    
      <h1>Frequently Asked Questions</h1>
      <hr>
    <div class="q-body">
      <h3>How to pass args from sagaMiddleware to action watcher</h3>
      <p>How to pass args from sagaMiddleware to action watcher</p><br><br>
      <h3>How to pass args from sagaMiddleware to action watcher</h3>
      <p>How to pass args from sagaMiddleware to action watcher</p><br><br>
      <h3>How to pass args from sagaMiddleware to action watcher</h3>
      <p>How to pass args from sagaMiddleware to action watcher<p>
      </div>
      <button class="question-button" onclick="openForm()" style="float:right;">Ask Question</button>

<div class="form-popup" id="myForm">
  <form  class="form-container">
    <h3>Describe your Question</h3>

    <textarea rows="4" cols="30">
        
        </textarea>
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

    
      </div>>
    <div class="footer">
      <p>StackOverflow-lite.com</p>
    </div>


</body>
</html>  