<!DOCTYPE html>
<html>
<head>

  <title>STACKOVERFLOW-LITE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="topnav">
      <ul style="list-style: none;">
        <div class="navbar">
          <a href="#"><img src="../static/images/download.png" height="30" width="30"> StackOverFlow-Lite</a> 
          <a href="login.html" style="float:right;"> Login</a>
        </div>
      </ul>
      
      </div>
    <div class="sidebar">
        <a href="#">Home</a>
        <a href="#">PUBLIC</a>
       
      </div>

    <div class = "hr">
      <h2>Frequently Asked Questions</h2>

      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
    </div>
    
    <div class="footer">
      <p>StackOverflow-lite.com</p>
    </div>


</body>
</html>  